PySide>=1.2.1
matplotlib>=1.4.0
numpy>=1.9.0
scipy>=0.15.1
six>=1.9.0
PyOpenGL==3.0.2
scikit-learn>=0.15.2
scikit-image>=0.11.2
GDAL>=1.11.2
VTK==5.10.1
pandas>=0.15.2
markdown2>=2.3.0
laspy>=1.2.5
PyYAML>=3.11
pyqode.core>=2.6.6
pyqode.qt>=2.6.0
pyqode.python>=2.6.3